[submodule "mqttKafkaBridge"]
	path = mqttKafkaBridge
	url = https://github.com/jacklund/mqttKafkaBridge.git
[submodule "eclairjs-node"]
	path = eclairjs-node
	url = https://github.com/EclairJS/eclairjs-node.git
[submodule "skale-engine"]
	path = skale-engine
	url = git://github.com/skale-me/skale-engine.git
[submodule "nifi-minifi-cpp"]
	path = nifi-minifi-cpp
	url = https://github.com/apache/nifi-minifi-cpp.git
